
__pycache__/ball_bounce.cpython-311.pyc
Queencards.mp3
simulation.mp4
__pycache__/sound_ctl.cpython-38.pyc
untitled4.py
game_recording.avi
video.mp4
__pycache__/design_sets.cpython-311.pyc
__pycache__/game_configurations.cpython-311.pyc
__pycache__/design_sets.cpython-38.pyc
__pycache__/game_configurations.cpython-38.pyc
__pycache__/sound_ctl.cpython-311.pyc
/__pycache__
__pycache__/sound_ctl.cpython-311.pyc
*.json
__pycache__/sound_ctl.cpython-311.pyc
*.avi
*.mp3
*.mp4
/ffmpeg-2024-04-10-git-0e4dfa4709-full_build
*.mp4
*.avi
*.mp3
*.mp4
*.pkl
*.mp3
*.avi
*.mp4
*.mp3
